<!-- <div
  fxLayout="row"
  fxLayoutGap="0.5%"
  fxLayoutAlign="center"
  fxLayoutWrap
  class="login-container container"
>
  <div
    class="login-card"
    fxFlex.xs="80%"
    fxFlex.sm="35%"
    fxFlex.md="30%"
    fxFlex.gt-lg="20%"
    fxLayout="column"
    fxLayoutAlign="center"
  >
    <mat-card>
      <mat-card-content>
        <h1>Login</h1>
        <form class="login-form">
          <mat-form-field appearance="standard" class="full-width">
            <mat-label>Email</mat-label>
            <input
              placeholder="Ex. pat@example.com"
              matInput
              type="email"
              [formControl]="emailFormControl"
              [errorStateMatcher]="emailMatcher"
            />
            <mat-error
              *ngIf="
                emailFormControl.hasError('email') &&
                !emailFormControl.hasError('required')
              "
            >
              Please enter a valid email address
            </mat-error>
            <mat-error *ngIf="emailFormControl.hasError('required')">
              Email is <strong>required</strong>
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="standard" class="full-width">
            <mat-label>Password</mat-label>
            <input
              matInput
              type="password"
              [formControl]="passwordFormControl"
              [errorStateMatcher]="passwordMatcher"
            />
            <mat-error *ngIf="passwordFormControl.hasError('required')">
              Password is <strong>required</strong>
            </mat-error>
          </mat-form-field>
          <button
            mat-flat-button
            color="primary"
            class="mat-form-field-wrapper login-button"
            (click)="submit()"
          >
            Submit
          </button>
          <p>Don't have an account yet? <a href="signup">Sign up</a></p>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div> -->
