<div class="container">
  <div class="row justify-content-center align-items-center login-container">
    <div class="col-xs-12 col-sm-4">
      <div class="card">
        <div class="card-body">
          <div class="container-fluid">
            <div class="row">
              <div class="col-xs-12 col-md-12">
                <h5 class="card-title">Login</h5>
              </div>
            </div>
          </div>
          <hr />
          <div class="container-fluid">
            <div class="row">
              <div class="col-xs-12 col-md-12">
                <div class="form-group">
                  <label for="username">Username</label>
                  <div class="input-group">
                    <input id="username" type="text" [(ngModel)]="username" />
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-md-12">
                <div class="form-group">
                  <label for="password">Password</label>
                  <div class="input-group">
                    <input
                      type="password"
                      id="password"
                      [(ngModel)]="password"
                    />
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-md-12">
                <div class="form-group">
                  <button class="btn btn-primary" (click)="login()">
                    Login
                  </button>
                  <button class="btn btn-link">Forgot password?</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
