@import "../../variables.sass"

.rules-container
    padding: 20px

    thead th
        border-top: none

    .dropdown-toggle::after
        display: none

    .title
        color: $base-color

    .small-icon
        width: 15px
        margin-right: 5px

.modal-header
    border-bottom: none
    padding: 1rem 1rem 0rem 1rem

.modal-body
    .form-control
        border-radius: 0rem

.dropdown-menu
    width: 100% !important

.input-group
    *
        width: 100% !important
