<nav class="navbar">
  <a class="navbar-brand" href="#">GaussWebAI</a>
  <button class="btn btn-link pull-right btn-white">Logout</button>
</nav>

<nav id="sidebarMenu" class="col-md-2 d-md-block sidebar collapse">
  <div class="position-sticky">
    <ul class="nav flex-column">
      <li class="nav-item menu-icon">
        <i-feather name="menu"></i-feather>
      </li>
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="/home">
          Home
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/home/rules">
          Rules
        </a>
      </li>
      <li class="nav-item dropdown">
        <a
          class="nav-link collapsed text-truncate"
          data-toggle="collapse"
          data-target="#submenu1"
        >
          Emails
        </a>
        <div aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Labels</a>
          <a class="dropdown-item" href="#">Templates</a>
        </div>
      </li>
    </ul>
  </div>
</nav>

<main class="col-md-9 ml-sm-auto col-lg-10 px-md-4 no-padding">
  <router-outlet></router-outlet>
</main>
